<main [ngClass]="theme">
  <h1>Info</h1>
  <p>
    {{ langData.infoTop }}
  </p>
  <br />
  <h1>{{ langData.credits }}</h1>
  <p></p>
  <table>
    <tr>
      <td class="cap bld gry">Framework</td>
      <td>
        <span *ngIf="!mobile">Angular</span>
        <a href="https://angular.io/" *ngIf="mobile">Angular</a>
      </td>
      <td *ngIf="!mobile">
        <a href="https://angular.io/">https://angular.io/</a>
      </td>
    </tr>
    <tr>
      <td class="cap bld gry">{{ langData.language }}</td>
      <td>
        <span *ngIf="!mobile">TypeScript</span>
        <a href="https://www.typescriptlang.org/" *ngIf="mobile">TypeScript</a>
      </td>
      <td *ngIf="!mobile">
        <a href="https://www.typescriptlang.org/"
          >https://www.typescriptlang.org/</a
        >
      </td>
    </tr>
    <tr>
      <td class="cap bld gry">Icons</td>
      <td>
        <span *ngIf="!mobile">FontAwesome</span>
        <a href="https://fontawesome.com/" *ngIf="mobile">FontAwesome</a>
      </td>
      <td *ngIf="!mobile">
        <a href="https://fontawesome.com/">https://fontawesome.com/</a>
      </td>
    </tr>
    <tr>
      <td class="cap bld gry">{{ langData.font }}</td>
      <td>
        <span *ngIf="!mobile">Oxanium</span>
        <a href="https://fonts.google.com/specimen/Oxanium" *ngIf="mobile"
          >Oxanium</a
        >
      </td>
      <td *ngIf="!mobile">
        <a href="https://fonts.google.com/specimen/Oxanium"
          >https://fonts.google.com/specimen/Oxanium</a
        >
      </td>
    </tr>
    <tr *ngIf="theme == 'space' || theme == 'love'">
      <td class="cap bld gry">{{ langData.particles }}</td>
      <td>
        <span *ngIf="!mobile">Angular Particle</span>
        <a href="https://www.npmjs.com/package/angular-particle" *ngIf="mobile"
          >Angular Particle</a
        >
      </td>
      <td *ngIf="!mobile">
        <a href="https://www.npmjs.com/package/angular-particle"
          >https://www.npmjs.com/package/angular-particle</a
        >
      </td>
    </tr>
    <tr *ngIf="theme == 'space' || theme == 'love'">
      <td></td>
      <td>
        <span *ngIf="!mobile">Particles JS</span>
        <a href="https://github.com/VincentGarreau/particles.js/" *ngIf="mobile"
          >Particles JS</a
        >
      </td>
      <td *ngIf="!mobile">
        <a href="https://github.com/VincentGarreau/particles.js/"
          >https://github.com/VincentGarreau/particles.js/</a
        >
      </td>
    </tr>
  </table>

  <br />
  <h1>{{ langData.settings }}</h1>

  <mat-form-field>
    <mat-label>{{ langData.language }}</mat-label>
    <mat-select [(value)]="language" (valueChange)="langChange()">
      <mat-option value="en"> English </mat-option
      ><mat-option value="de">
        Deutsch
      </mat-option>
    </mat-select> </mat-form-field
  ><br />
  <mat-form-field>
    <mat-label>{{ langData.theme }}</mat-label>
    <mat-select [(value)]="theme" (valueChange)="darkModeChange()">
      <mat-optgroup [label]="langData.dark">
        <mat-option value="dark"> {{ langData.dark }} </mat-option>
        <mat-option value="blue"> {{ langData.blue }} </mat-option>
        <mat-option value="green">{{ langData.green }}</mat-option>
        <mat-option value="black">{{ langData.black }}</mat-option>
        <mat-option value="space">{{
          langData.space
        }}</mat-option> </mat-optgroup
      ><mat-optgroup [label]="langData.light">
        <mat-option disabled value="light"> {{ langData.light }} </mat-option>
        <mat-option disabled value="bisque"> {{ langData.bisque }} </mat-option>
        <mat-option disabled value="love">{{ langData.love }}</mat-option>
        <mat-option disabled value="red">{{ langData.red }}</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <br />
  The light themes are temporarely disabled because they aren't optimized for
  the new user interface yet.
</main>
