<main (keydown.esc)="removeError()">
  <h1>{{ langData.formulaBalancer }}</h1>
  <p>
    <i>
      {{ langData.formulaBalancerHint1 }}
      <br />{{ langData.formulaBalancerHint2 }} <br />{{
        langData.formulaBalancerHint3
      }}<br />
      {{ langData.formulaBalancerHint4 }}
    </i>
  </p>
  <input
    type="text"
    id="input"
    [(ngModel)]="input"
    placeholder="{{ langData.enterFormulaHere }}"
    [ngClass]="theme"
  />
  <button [ngClass]="theme" id="button" (click)="startButtonClick()">
    {{ langData.go }}
  </button>
  <button
    [ngClass]="theme"
    (click)="showDebug = !showDebug"
    style="width: 100px; position: absolute; bottom: 0; right: 0;"
  >
    <span *ngIf="showDebug">Hide</span
    ><span *ngIf="!showDebug">Show</span> Debug
  </button>
  <br /><br />
  <span #resultspan *ngIf="balancedFormula != null">
    <span *ngFor="let item of balancedFormula.reactants"
      ><span *ngIf="item.amount != 1">{{ item.amount }}</span
      ><span *ngFor="let itemi of item.atoms"
        >{{ itemi.name
        }}<span *ngIf="itemi.amount != 1"
          ><sub>{{ itemi.amount }}</sub></span
        ></span
      ><span
        *ngIf="
          item !=
          balancedFormula.reactants[balancedFormula.reactants.length - 1]
        "
      >
        +
      </span></span
    >
    &rarr;
    <span *ngFor="let item of balancedFormula.products"
      ><span *ngIf="item.amount != 1">{{ item.amount }}</span
      ><span *ngFor="let itemi of item.atoms"
        >{{ itemi.name
        }}<span *ngIf="itemi.amount != 1"
          ><sub>{{ itemi.amount }}</sub></span
        ></span
      ><span
        *ngIf="
          item != balancedFormula.products[balancedFormula.products.length - 1]
        "
      >
        +
      </span></span
    >
  </span>
  <br />
  <!--  -->
  <span *ngIf="showDebug">
    <span *ngIf="reactionsteps.length != 0">
      <span
        *ngFor="let reactionstepitem of reactionsteps; let i = index"
        [attr.data-index]="i"
      >
        <span *ngFor="let item of reactionstepitem.reactants"
          ><span *ngIf="item.amount != 1">{{ item.amount }}</span
          ><span *ngFor="let itemi of item.atoms"
            >{{ itemi.name
            }}<span *ngIf="itemi.amount != 1"
              ><sub>{{ itemi.amount }}</sub></span
            ></span
          ><span
            *ngIf="
              item !=
              reactionstepitem.reactants[reactionstepitem.reactants.length - 1]
            "
          >
            +
          </span></span
        >
        &rarr;
        <span *ngFor="let item of reactionstepitem.products"
          ><span *ngIf="item.amount != 1">{{ item.amount }}</span
          ><span *ngFor="let itemi of item.atoms"
            >{{ itemi.name
            }}<span *ngIf="itemi.amount != 1"
              ><sub>{{ itemi.amount }}</sub></span
            ></span
          ><span
            *ngIf="
              item !=
              reactionstepitem.products[reactionstepitem.products.length - 1]
            "
          >
            +
          </span></span
        >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <span *ngFor="let reactantselementitem of reactantselementssteps[i]">
          <span
            >{{ reactantselementitem.name
            }}<sub>{{ reactantselementitem.amount }}</sub></span
          ></span
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngFor="let productselementitem of productselementssteps[i]">
          <span
            >{{ productselementitem.name
            }}<sub>{{ productselementitem.amount }}</sub></span
          ></span
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ arr1[i] | json }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ arr2[i] | json }}</span>
        <br /></span></span
  ></span>
  <br />
  <button
    (click)="copyResultToClipboard()"
    style="margin-left: 0;"
    [ngClass]="theme"
  >
    {{ langData.copy }}
  </button>
  <input
    #hiddeninput
    type="text"
    style="position: absolute; top: -30px; left: -200px; opacity: 0;"
    value=""
  />
  <div *ngIf="error != null" class="darkbg"></div>
  <div *ngIf="error != null" class="alert" [ngClass]="theme">
    <div class="left">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="exclamation-triangle"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
        class="svg-inline--fa fa-exclamation-triangle fa-w-18"
        style="--fa-secondary-opacity: 0.1;"
      >
        <g class="fa-group">
          <path
            fill="currentColor"
            d="M569.52 440L329.58 24c-18.44-32-64.69-32-83.16 0L6.48 440c-18.42 31.94 4.64 72 41.57 72h479.89c36.87 0 60.06-40 41.58-72zM288 448a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm38.24-238.41l-12.8 128A16 16 0 0 1 297.52 352h-19a16 16 0 0 1-15.92-14.41l-12.8-128A16 16 0 0 1 265.68 192h44.64a16 16 0 0 1 15.92 17.59z"
            class="fa-secondary"
          ></path>
          <path
            fill="currentColor"
            d="M310.32 192h-44.64a16 16 0 0 0-15.92 17.59l12.8 128A16 16 0 0 0 278.48 352h19a16 16 0 0 0 15.92-14.41l12.8-128A16 16 0 0 0 310.32 192zM288 384a32 32 0 1 0 32 32 32 32 0 0 0-32-32z"
            class="fa-primary"
          ></path>
        </g>
      </svg>
    </div>
    <div class="center">
      <h1>
        {{ errortitle }}
      </h1>
      <span (click)="removeError()">&times;</span>
      {{ error }}
      <br /><br />
      <button (click)="removeError()" [ngClass]="theme">
        Okay
      </button>
    </div>
    <div class="break"></div>
    <div class="bottom">
      <img width="350px" [attr.src]="imgsrc" alt="" />
    </div>
  </div>
</main>
